@import '../Variables/Variables.scss';
@import '../Mixin/mixin.scss';

input {
  background: $baseWhite;
  padding: 20px 0px 20px 10px;
  border: none;
  outline: none;
  width: 470px;
  font-size: 20px;
  text-align: left;
  flex-wrap: wrap;

  @include for-phone-only {
    width: 198px;
  }
}
.place {
  background-color: $baseWhite;
  padding-left: 30px;
}
