@import '../Variables/Variables.scss';
@import '../Mixin/mixin.scss';

li {
  border: solid red;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;

  @include for-phone-only {
    height: 120px;
  }
}

.cityname {
  color: $baseWhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.celsius {
  position: static;
  width: 96px;
  height: 97px;
  font-weight: 500;
  font-size: 62.8571px;
  line-height: 154%;
}
