@import '../Variables/Variables.scss';
@import '../Mixin/mixin.scss';

li {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;

  &.red {
    background-color: $brandRed;
  }
  &.yellow {
    background-color: $brandYellow;
  }
  &.blue {
    background-color: $brandBlue;
  }

  @include phone {
    height: 120px;
    padding: 30px;
  }
}

.cityname {
  color: $baseWhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include phone {
    margin-left: 31px;
    align-items: baseline;
  }
}

.celsius {
  position: static;
  width: 96px;
  height: 97px;
  font-weight: 500;
  font-size: 62.8571px;
  line-height: 154%;

  @include phone {
    width: 137px;
    height: 71.85px;
    font-size: 46.56px;
  }
}
