@import '../Mixin/mixin.scss';

footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;
  align-items: center;
  display: flex;
  justify-content: center;

  @include phone {
    bottom: 32px;
  }
}

.isotop-logo {
  @include phone {
    width: 86.4px;
  }
}
