@import './components/Variables/Variables.scss';
@import './components/Mixin/mixin.scss';

.weather-container {
  background-color: $baseGrey;
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 100vh;

  @include phone {
    width: 335px;
  }
  @include tablet {
    width: 780px;
  }
}

.weather-input-container {
  background-color: $baseWhite;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 598px;

  @include phone {
    width: 335px;
  }
}
